.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar*/
*{
  box-sizing: border-box;

}
body{
  font-family: Verdana,Arial,Helvetica,sans-serif;
  background-color: #efede1;

}
h1{
  color: #424442;
  font-family: 'Helvetica', Impact, 'Arial Narrow Bold', sans-serif;
}
h2{
  color: #424442;
  font-family: 'Helvetica', Impact,  'Arial Narrow Bold', sans-serif;
}
p{
  font-family:  Helvetica, sans-serif;
  color: #424442;
}
nav{
  border:1px #424442;
  float:left;
  width:100%;
  background-color:#82bf7b;

}
nav ul{
  list-style-type: none;
  margin:0;
  padding-left:0;
}
nav ul li{

  color:#efede1;
  display:block;
  float:left;
  padding:1rem;
  position: relative;
  text-decoration: none;
}
nav li a{
text-decoration: none;
color:#efede1;

}
nav li a:hover{
  background-color: #b8edb2;
}

nav ul li ul{
  display:none;
  position: absolute;
  left: 0;
  margin-top:1rem;
  background-color:#82bf7b;
  min-width: 20ch;

}
nav ul li ul li{
  clear:both;
  width: 100%;
}
nav ul li:hover ul{
  display: block; 
}

@media (max-width: 425px) {
  header{
    text-align:center;   
   }
   nav li{
       display:block;
       margin-right:0;
   }
   nav li a{
       display:block;
       padding:0.5em;
 
   }
  .burger-menu {
      display: flex;}
      .submenu {
        position: relative; 
    }
    #nav-links {
     /* display: none; */
      flex-direction: column;
      background-color: #82bf7b;
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%; 
      z-index: 1000; 
  }

  #nav-links.visible {
      display: flex; 
  }

  .submenu {
      position: relative; 
      background-color: #82bf7b;
  }
  }
